<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="http://47.94.95.151:8080/css/pintuer.css">
		<link rel="stylesheet" href="http://47.94.95.151:8080/css/admin.css">
		<script src="http://47.94.95.151:8080/js/jquery.min.js"></script>
		<script src="http://47.94.95.151:8080/js/pintuer.js"></script>
		<script src="http://47.94.95.151:8080/js/neuedu2.js"></script>
		<script src="http://47.94.95.151:8080/layer/layer.js"></script>
		<script src="http://47.94.95.151:8080/js/vue.min.js"></script>
		<script src="http://47.94.95.151:8080/js/vuepage.js"></script>
		<script src="http://47.94.95.151:8080/My97DatePicker/WdatePicker.js"></script>
		<style type="text/css">
			.s100{
				width:100px;
				padding:5px 10px;
			}
	
		</style>
	</head>
	<body>
		<div id="app"class="panel admin-panel"  v-cloak>
			 <div class="padding border-bottom">
			 	<form id="listForm" class="form-x">
				 	<ul class="search" style="padding-left:10px;">
				 	 	<li>
				 	 		<input id="startDat" readonly="readonly"  type="text" class="input s100" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" placeholder="开始时间" />
				 	 	</li>
				 	 	<li>
				 	 		<input id="endDat" readonly="readonly"   type="text" class="input s100" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" placeholder="结束时间" />
				 	 	</li>
				 	 	<li>
				 	 		<button type="button" id="query" class="button input s100"  @click="query"><span class="icon-search"></span>&nbsp;&nbsp;搜索</button>
				 	 	</li> 
				 	 </ul>
			 	 </form>
			 </div>
			 <hr class="bg-main" />
			<table id="tb"  class="table table-hover table-bordered">
				<thead>
				<tr>
					<th style="width: 100px;">时间</th>
					<th style="width: 100px;">姓名</th>
					<th >企业</th>
					<th style="width: 100px;">渠道</th>
					<th style="width: 100px;">岗位</th>
					<th style="width: 100px;">offer</th>
					<th style="width: 50px ;">就业</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="entry in list">
					<td>{{entry.c_date}}</td>
					<td>{{entry.sname}}</td>
					<td>{{entry.c_name}}</td>
					<td>
						<span v-if="entry.type==1">企业推荐</span>
						<span v-else>自主寻找</span>
					</td>
					<td>{{entry.jname}}</td>
					<td>
						<span v-if="entry.offer==1">({{entry.practice}}){{entry.salary}}</span>
						<span v-else>无</span>
					</td>
					<td>
						<span v-if="entry.choice==1">Y</span>
						<span v-else>N</span>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<script>
			var gId = $.getUrlParam("gId");
			var vue = new Vue({
				el:"#app",
				data(){
					return {
						list: getData({gId:gId},path2+"employment/reportByGrade")
					}
				},
				mounted(){
					console.log(this.list);
				},
				methods:{
					query(){
						let start=$("#startDat").val();
						let end=$("#endDat").val();
						let param={gId:gId};
						if(start!="")
							param.start=start;
						if(end!="")
							param.end=end;
						this.list= getData(param,path2+"employment/reportByGrade")
					}
				}
			});
		</script>
	</body>
</html>
