<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="http://47.94.95.151:8080/css/pintuer.css">
		<link rel="stylesheet" href="http://47.94.95.151:8080/css/admin.css">
		<link rel="stylesheet" href="http://47.94.95.151:8080/css/kalendae.css">
		<script src="http://47.94.95.151:8080/js/jquery.min.js"></script>
		<script src="http://47.94.95.151:8080/js/pintuer.js"></script>
		<script src="http://47.94.95.151:8080/js/jquery.form.js"></script>
		<script src="http://47.94.95.151:8080/js/iconfont.js"></script>
		<script src="http://47.94.95.151:8080/js/neuedu2.js"></script>
		<script src="http://47.94.95.151:8080/js/kalendae.js"></script>
		<script src="http://47.94.95.151:8080/layer/layer.js"></script>
		<script src="http://47.94.95.151:8080/js/vue.min.js"></script>
		<style type="text/css">
			.s100{
				width:100px;
				padding:5px 10px;
			}
			.s120{
				width:120px; 
				padding:5px 10px;
			}
			.kalendae .k-calendar {
			    display: inline-block;
			    zoom:1;
			    *display:inline;
			    /* width改为100% width:155px;*/ 
			    width: 200px; 
			    vertical-align:top;
			}
			.kalendae .k-title, 
			.kalendae .k-header, 
			.kalendae .k-days{
				width:100%;
				line-height: 1px;
			}
			
			.kalendae .k-header span{
				width:25px;
			    height:25px;
			    line-height:25px;
			}
			.kalendae .k-days span {
			    /* 水平居中 */
			    text-align:center;
			    width:25px;
			    /* 高度 4.5em效果比较好 height等于line-height就能垂直居中了 */
			    height:25px;
			    line-height:25px;
			    padding:2px 3px 2px 2px;
			    border:1px solid transparent;
			    border-radius:3px;
			    color:#999;
			}
			.tab-body dl{
				border-bottom:1px solid #DCDCDC;
				width:48%;
				display: inline-block;
			} 
			.tab-body dl:nth-child(odd){
				border-right:1px solid #DCDCDC;
			}
			
		</style>
	</head>
	<body>
		<div id="app" class="panel" v-cloak>
			<div class="panel-head" style="border-bottom:0">
				<ul class="search">
					<li>
						<button type="button" id="add" @click="dateadd()" class="button">
							选择日期<span class="icon-calendar text-big"></span>
						</button>
					</li>
					<li id="dateview" v-show="dv" style="position: absolute;left:10px;top:50px;z-index: 10;"></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-head">
					<ul class="tab-nav">
						<li><a href="javascript:void(0)" @click="tp=1" :class="{active:tp==1}">个体授课</a> </li>
						<li><a href="javascript:void(0)" @click="tp=0" :class="{active:tp==0}">小学期</a> </li>
						<li><a href="javascript:void(0)" @click="tp=2" :class="{active:tp==2}">项目开发</a> </li>
						<li><a href="javascript:void(0)" @click="tp=3" :class="{active:tp==3}">就业期</a> </li>
						<li><a href="javascript:void(0)" @click="tp=4" :class="{active:tp==4}">串讲复习</a> </li>
					</ul>
				</div>
				<div class="tab-body">
					<form id="fm" class="form-x" >
						<input type="hidden" name="gId" :value="gId">
						<input type="hidden" name="dates" :value="dates" />
						<input type="hidden" name="type" :value="tp" />
						<div v-if="tp==1">
							<div class="form-group">
						        <div class="label">
						            <label>方案地址:</label>
						        </div>
						        <div class="field">
							        <input type="text" class="input" v-model="note"   name="note" data-validate="required:请输入方案地址,length#<1000:字符长度小于1000位" />
							        <div class="tips"></div>
						        </div>
						    </div>
							<div class="field label-block">
								<dl v-for="item in courses.list">
									<dt @click="courses.selectid=item.id">
										<img :src="getImg(item.img)" width="80" height="80" class="img-border radius-circle">{{item.name}}
									</dt>
									<dd v-for="plan in item.plans" v-if="courses.selectid==item.id">
										<label><input type="radio" name="pId" :value="plan.id" @click="checkplan=plan.id">{{plan.name}}</label>
									</dd>
								</dl>
							</div>
						</div>
						<div v-if="tp==0">
							<div class="form-group">
						        <div class="label">
						            <label>方案地址:</label>
						        </div>
						        <div class="field">
							        <input type="text" class="input" v-model="note"   name="note" data-validate="required:请输入方案地址,length#<1000:字符长度小于1000位" />
							        <div class="tips"></div>
						        </div>
						    </div>
						</div>
						<div v-if="tp==2">
							<div class="form-group">
						        <div class="label">
						          <label>项目名称：</label>
						        </div>
						        <div class="field">
						          <input type="text" v-model="project"  class="input w50" name="project" data-validate="required:请输入项目名称" />
						          <div class="tips"></div>
						        </div>
						      </div>
						      <div class="form-group">
						        <div class="label">
						          <label>git地址：</label>
						        </div>
						        <div class="field">
						          <input type="text" v-model="git"   class="input w50"  name="git" data-validate="required:请输入git地址" />
						          <div class="tipss"></div>
						        </div>
						      </div>     
						</div>
						<div v-if="tp==3">
							<h2>就业期需要维护好日期区间 每天不需要在写日志</h2>
						</div>
						<div v-if="tp==4">
							<h2>串讲复习需要维护好日期区间即可</h2>
						</div>
						<div class="form-group">
					        <div class="label">
					          <label></label>
					        </div>
					        <div class="field">
					          <button  class="button bg-main icon-check-square-o" type="button" @click="submit"> 提交</button>
					        </div>
					      </div>
					</form>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			var gId=$.getUrlParam("gId");
			var data=getData({},path2+"course/getCourses");
			var out=getData({"gId":gId},path2+"arrangeList/getDates");
			var vue=new Vue({
				el:"#app",
				data:{
					dv:false,
					dates:[],
					courses:{
						list:data,
						selectid:0
					},
					tp:1,
					checkplan:0,
					note:"",
					project:"",
					git:"",
					gId:gId
				},
				methods:{
					dateadd:function(){
						this.dv=!this.dv;
					},
					getImg:function(img){
						return resourcePath+img;
					},
					submit:function(){
						if(this.dates.length==0){
							alert("日期未选择");
						}else{
							if(this.tp==1){
								if(this.checkplan==0){
									alert("请选择一个方案");
									return;
								}	
							}else if(this.tp==2){
								if($.trim(this.note)==""){
									alert("小学期方案地址不能为空");
									return;
								}
							}else if(this.tp==3){
								if($.trim(this.project)==""){
									alert("项目名称不能为空");
									return;
								}
								if($.trim(this.git)==""){
									alert("git地址不能为空");
									return;
								}
							}
							submitForm("fm","arrange/add",true);
						}
					}
				}
			});
			new Kalendae({
				attachTo:document.getElementById("dateview"),
				months:2,
				mode:'multiple',
				subscribe:{
					"date-clicked":function(dat){
						var flag=true;
						for(var i=0;i<vue.dates.length;i++){
							if(vue.dates[i]==dat.format("YYYY-MM-DD")){
								vue.dates.splice(i,1);
								flag= false;
								break;
							}
						}
						if(flag){
							vue.dates.push(dat.format("YYYY-MM-DD"));
						}
					}
				},
				 blackout:function(date){
				 	for(var i=0;i<out.length;i++){
				 		var d=Kalendae.moment(date).format("YYYY-MM-DD");
				 		if(d==out[i])
				 			return true;
				 	}
				 }
			});
		</script>
	</body>
</html>
