<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="http://47.94.95.151:8080/css/pintuer.css">
		<link rel="stylesheet" href="http://47.94.95.151:8080/css/admin.css">
		<script src="http://47.94.95.151:8080/js/jquery.min.js"></script>
		<script src="http://47.94.95.151:8080/js/pintuer.js"></script>
		<script src="http://47.94.95.151:8080/js/jquery.form.js"></script>
		<script src="http://47.94.95.151:8080/js/iconfont.js"></script>
		<script src="http://47.94.95.151:8080/js/neuedu2.js"></script>
		<script src="http://47.94.95.151:8080/layer/layer.js"></script>
		<script src="http://47.94.95.151:8080/js/vue.min.js"></script>
		<style type="text/css">
			.icon {
				width: 1em; height: 1em;
				vertical-align: -0.15em;
				fill: currentColor;
				overflow: hidden;
				color: #0000FF;
			}
			.panel{
				margin-top:10px;
			}
			.panel .row-head{
				padding-top: 12px;
				text-align:right;
				padding-right:10%;
			}
			.search li{
				width:20%;
			}
			.wy_body{
				padding:40px;
			}
			.wy_body .item_title{
				height: 80px;
				display: flex;
				align-items: center;
			}
			.wy_body .item_title .logo{
				width: 110px;
			}
			.wy_body .item_title div{
				height: 60px;
			}
			.wy_body .item_title .logo{
				padding:0 20px;
			}
			.wy_body .item_title .font{
				flex: 1;
				display: flex;
				flex-direction: column;
			}
			.wy_body .item_title .font div{
				height: 30px;
				line-height: 30px;
				font-size: 14px;
			}
			.wy_body .item_title .font .pname{
				font-weight: bold;
				font-size:16px;
			}
			.wy_body .list_item{
				width: 180px;
				height:120px;
				box-shadow: 0px 0px 3px #999;
				display:inline-block;
				margin:10px;
				border-radius: 10px;
				overflow: hidden;
			}
			.wy_body .list_item .list_top{
				height: 90px;
				padding:10px 10px;
			}
			.wy_body .list_item .list_top>div{
				height:35px;
				line-height: 45px;
				display: flex;
				font-size: 16px
			}
			.wy_body .list_item .list_top>div>div:nth-child(1){
				flex:1;
			}

			.wy_body .list_item .list_top>div>div:nth-child(2){
				width:40px;
				text-align: right;
			}
			.wy_body .list_item .list_top>div>div:hover{
				color:#999999;
			}
			.wy_body .list_item .list_bottom{
				height: 30px;
				line-height:30px;
				background: #eee;
				padding-left:10px;
				font-size: 12px;
				color: #000;
			}

			
		</style>
	</head>
	<body>
		<div id="app" class="panel" v-cloak>
			<form id="fm" method="post"></form>
			<div class="row-head">
				<span style="margin-right:100px;font-weight: bold;" id="gname">{{grade.name}}</span>
				<span class="icon-user text-big "></span>
				<span id="js">{{grade.lecturerName}}</span>
				<span style="margin-left:40px" class="icon-users text-big "></span>
				<span style="margin-left:5px" id="ss">{{grade.managerName}}</span>
				<span style="margin-left:40px" class="icon-calendar text-big"></span>
				<span style="margin-left:5px">{{getTime.days}}</span>
				<span style="margin-left:40px" class="icon-sun-o text-big"></span>
				<span style="margin-left:5px">{{getTime.atime+getTime.mtime}}</span>
				<span style="margin-left:40px" class="icon-moon-o text-big"></span>
				<span style="margin-left:5px">{{getTime.ntime}}</span>
			</div>
			<hr class="bg-main" />
			<div class="panel-body">
				<div class="wy_title">
					<ul class="search" style="padding-left:10px; margin-left:120px;">
						<li>
							<button type="button" class="button text-blue" @click="add" >
								增加进度&nbsp;<span class="icon-plus-square-o"></span>
							</button>
						</li>
					</ul>
				</div>
				<div class="wy_body">
					<ul>
						<li v-for="arrange in grade.arranges" >
							<div class="item_title">
								<div class="logo">
									<img height="60" width="60" alt="logo" :src="arrange.img" @click="href(arrange)">
								</div>
								<div class="font" style="height: 60px;display: flex;flex-direction: column;">
									<div class="pname">{{arrange.pname}}</div>
									<div>{{arrange.startDate}}～{{arrange.endDate}}</div>
								</div>
								<div >
									<div class="button-group" style="padding-top:20px">
										<button type="button" class="button" @click="update(arrange.id)">
											<span class="icon-edit text-blue"></span>&nbsp;&nbsp;修改</button>
										<button type="button" class="button" @click="del(arrange.id)">
											<span class="icon-trash-o text-red"></span>&nbsp;&nbsp;删除</button>
									</div>
								</div>
							</div>
							<hr style="height: 1px;background: #ccc;" />
							<div>
								<ul  style="padding:20px 0">
									<li class="list_item" v-for="arrangelist in arrange.arrangeList">
										<div class="list_top">
											<div>
												<div @click="addLog(arrangelist.id)" style="cursor: pointer;">
													<span class="icon-calendar" style="color: #FF8000;">&nbsp;&nbsp;</span>课程日志
												</div>
												<div>
													<span v-if="arrangelist.morning!=''||arrangelist.afternoon!=''" class="icon-check-circle text-blue" style="font-size: 16px;"></span>
													<span v-else class="icon-check-circle" style="font-size: 16px;color: #96A5AA;"></span>
												</div>
											</div>
											<div>
												<div>
													<svg class="icon" style="font-size: 16px" aria-hidden="true">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-msnui-task"></use>
													</svg>&nbsp;
													任务安排
												</div>
												<div></div>
											</div>
										</div>
										<div class="list_bottom">
											{{arrangelist.date}} {{getweek(arrangelist.date)}}
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
					<!--<div class="item" v-for="arrange in arranges">
						<img height="80" width="80" alt="logo" :src="getHead(arrange).img" @click="href(arrange)" class="wy_logo img-border" data-id="arrange.id">
						<div class="ihead">
							<span class="wytxt icon-tag text-big text-red" >{{getHead(arrange).name}}</span>
							<span class="icon-calendar text-big" style="margin-left: 30px"></span>&nbsp;{{getHead(arrange).start}} ~ {{getHead(arrange).end}}
							<span class="text-big" style="margin-left: 30px">
								<button type="button" @click="update(arrange.id)"  class="button text-blue" style="padding:3px 10px" >
									修改&nbsp;<span class="icon-plus-square-o"></span>
								</button>
							</span>
							<span class="text-big" style="margin-left: 30px">
								<button type="button" @click="del(arrange.id)"  class="button text-blue" style="padding:3px 10px" >
									删除&nbsp;<span class="icon-plus-square-o"></span>
								</button>
							</span>
						</div>
						<ul class="ibody">
							<li v-for="item in arrange.arrangeLists">
								<div class="lhead">{{item.date}}</div>
								<div class="lbody">
									<div class="lrz" @click="addLog(item.id)"><span class="icon-calendar text-big"></span>&nbsp;课程日志<span v-if="item.morning!=''||item.afternoon!=''" class="icon-check-square-o text-blue"></span></div>
									<div class="lwk" @click="addWork(item.id,item.date)">
										<svg class="icon" aria-hidden="true">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-msnui-task"></use>
										</svg>&nbsp;任务安排</div>
								</div>
							</li>
						</ul>
					</div>-->
				</div>
			</div>
		</div>
		<script type="text/javascript">
            var gId=$.getUrlParam("gId");
			var vue = new Vue({
                el:"#app",
                data(){
                    return {
						grade:getData({"gId":gId},path2+"board/list")
					};
				},
				computed:{
                    getTime() {
                        var mtime = 0;
                        var atime = 0;
                        var ntime = 0;
                        var day;
                        var workDay = 0;
                        day=parseInt((new Date().getTime() - getDateByStr(this.grade.startDate,"-").getTime()) / 1000 / 60 / 60 / 24);
                        var week = parseInt(day / 7) + "周" + day % 7 + "天"
                        for (let i = 0; i < this.grade.arranges.length; i++) {
                            workDay += this.grade.arranges[i].length;
                            for (let j = 0; j < this.grade.arranges[i].arrangeList.length; j++) {
                                mtime += this.grade.arranges[i].arrangeList[j].mtime;
                                atime += this.grade.arranges[i].arrangeList[j].atime;
                                ntime += this.grade.arranges[i].arrangeList[j].ntime;
                            }
                        }
                        return {
                            days: week,
                            mtime: mtime,
                            ntime: ntime,
                            atime: atime,
                            workday: workDay
                        }
                    }
                },
				methods:{
                    getweek(d){
                        var dat= getDateByStr(d,"-");
                        if(dat.getDay()==0)
                            return "周日";
                        else if(dat.getDay()==1)
                            return "周一";
                        else if(dat.getDay()==2)
                            return "周二";
                        else if(dat.getDay()==3)
                            return "周三";
                        else if(dat.getDay()==4)
                            return "周四";
                        else if(dat.getDay()==5)
                            return "周五";
                        else
                            return "周六";
                    },
					add(){
                        var options={
                            "title":"添加进度",
                            "url":"pages/board/add.html?gId="+gId,
                            "width":"1000px",
                            "height":"500px"
                        };
                        dialogframe(options);
					},
                    addLog(id){
                        dialogframe({
                            "title":"添加日志",
                            "url":"pages/board/rz.html?id="+id
                        });
                    },
					href(arrange){
                        if(arrange.note!=""){
                            window.open(arrange.note);
                        }
					},
                    update:function(id){
                        var options={
                            "title":"修改进度",
                            "url":"pages/board/edit.html?aId="+id,
                            "width":"1000px",
                            "height":"500px"
                        };
                        dialogframe(options);
                    },
                    del:function(id){
                        if(confirm("确定要删除吗")){
                            $.ajax({
                                "url":path2+'/arrange/del?id='+id,
                                dataType:"json",
                                type:"get",
                                xhrFields:{
								    withCredentials:true
								},
                                async:false,
                                error:function(request,message,obj){
                                },
                                success:function(data){
                                    alert("删除完成");
                                    window.location.reload();
                                }
                            });
                        }
                    }
				}
			});
		</script>
	</body>
</html>
