<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://47.94.95.151:8080/css/pintuer.css">
    <link rel="stylesheet" href="http://47.94.95.151:8080/css/admin.css">
    <script src="http://47.94.95.151:8080/js/jquery.min.js"></script>
    <script src="http://47.94.95.151:8080/js/pintuer.js"></script>
    <script src="http://47.94.95.151:8080/js/jquery.form.js"></script>
    <script src="http://47.94.95.151:8080/js/neuedu2.js"></script>
    <script src="http://47.94.95.151:8080/layer/layer.js"></script>
    <script src="http://47.94.95.151:8080/js/vue.min.js"></script>
    <script src="http://47.94.95.151:8080/kindeditor/kindeditor.js"></script>
    <script src="http://47.94.95.151:8080/kindeditor/lang/zh_CN.js"></script>
    <script src="http://47.94.95.151:8080/My97DatePicker/WdatePicker.js"></script>
    <style>

        .box{
            position:absolute;
            z-index:10;
            background:#fff;
            left:30%;
            width: 400px;
            height:400px;
            border: 1px solid #000;
            display: flex;
        }
        .box ul{
            flex: 1;
            color: #000;
            padding:0;
        }
        .box ul li{
            height:40px;
            line-height: 40px;
            padding-left:15px;
            border-bottom: 1px solid #ccc;
        }
        .box ul li:hover{
            color:#444;
        }
        .box ul .check{
            background:#4983FE;
        }
        .box ul:nth-child(1){
            border-right: 1px solid #000;
        }
    </style>
</head>
<body>
<div id="app" class="body-content" v-cloak>
    <form method="post" class="form-x" id='fm' >
        <input name="id" type="hidden" v-model="entry.id">
        <div class="form-group">
            <div class="label">
                <label>考试时间：</label>
            </div>
            <div class="field">
                <input readonly="readonly" type="text" class="input w50" name="dat" v-model="entry.dat"  onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" data-validate="required:输入考试日期" />
                <div class="tips"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>考试名称：</label>
            </div>
            <div class="field">
                <input  type="text" v-model="entry.name" class="input w50" name="name" data-validate="required:请输入考试名称" />
                <div class="tips"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>课程：</label>
            </div>
            <div class="field">
                <select  v-model="cId"  name="cId" class="input w50" data-validate="required:请选择课程" >
                    <option value="0" disabled="disabled" selected="selected">请选择课程</option>
                    <option v-for="course in courses" :value="course.id">{{course.name}}</option>
                </select>
                <div class="tips"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>题目：</label>
            </div>
            <div class="field">
                <select  v-model="sId"  name="sId" @change="changeSid" class="input w50" data-validate="required:请选择题目" >
                    <option value="0" disabled="disabled" selected="selected">请选择题目</option>
                    <option v-for="store in storehouses" :value="store.id">{{store.name}}</option>
                </select>
                <div class="tips"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>难度等级：</label>
            </div>
            <div class="field">
                <input type="hidden" name="level" :value="level">
                <span v-if="level>=1"  class="icon-star text-yellow text-large"></span>
                <span v-else  class="icon-star-o  text-large"></span>
                <span v-if="level>=2" class="icon-star text-yellow text-large"></span>
                <span v-else class="icon-star-o  text-large"></span>
                <span v-if="level>=3" class="icon-star text-yellow text-large"></span>
                <span v-else class="icon-star-o text-large"></span>
                <span v-if="level>=4" class="icon-star text-yellow text-large"></span>
                <span v-else class="icon-star-o  text-large"></span>
                <span v-if="level>=5" class="icon-star text-yellow text-large"></span>
                <span v-else class="icon-star-o  text-large"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>功能和要求：</label>
            </div>
            <div class="field">
                <textarea id="description" v-html="description"  class="input" name="description"   data-validate="required:请输入功能和要求"></textarea>
                <div class="tips"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label></label>
            </div>
            <div class="field">
                <button  class="button bg-main icon-check-square-o" type="button" onclick="submitForm('fm','computer/edit',true)"> 提交</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var callBackPath = basePath+'pages/case/redirect.html';
    var id=$.getUrlParam("id");
    var entry=getData({id:id},path2+"computer/edit");
    KindEditor.ready(function(K) {
        window.editor = K.create('#description',{
            width : "100%",
            height: "300px",
            filePostName:"img",
            uploadJson:path2+"imgupload?callBackPath="+callBackPath,
            afterBlur: function () {
                this.sync();
            }
        });
    });
    var vue = new Vue({
        el:"#app",
        data() {
            return {
                level:entry.level,
                cId:entry.cId,
                sId:entry.sId,
                description:entry.description,
                courses:getData({gId:entry.gId},path2+"course/getCourseByGid"),
                entry:entry
            };
        },
        computed:{
            storehouses(){
                return getData({cId:this.cId},path2+"storehouse/getByCid");
            }
        },
        methods:{
            changeSid(){
                var storehouse=getData({id:this.sId},path2+"storehouse/edit");
                this.level=storehouse.level;
                this.description=storehouse.description;
                editor.html(this.description);
            }
        }
    });
</script>
</body>
</html>
