<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="http://47.94.95.151:8080/css/pintuer.css">
	<link rel="stylesheet" href="http://47.94.95.151:8080/css/admin.css">
	<script src="http://47.94.95.151:8080/js/jquery.min.js"></script>
	<script src="http://47.94.95.151:8080/js/pintuer.js"></script>
	<script src="http://47.94.95.151:8080/js/jquery.form.js"></script>
	<script src="http://47.94.95.151:8080/js/neuedu2.js"></script>
	<script src="http://47.94.95.151:8080/layer/layer.js"></script>
	<script src="http://47.94.95.151:8080/js/vue.min.js"></script>
	<script src="http://47.94.95.151:8080/kindeditor/kindeditor.js"></script>
	<script src="http://47.94.95.151:8080/kindeditor/lang/zh_CN.js"></script>
	<style>

		.box{
			position:absolute;
			z-index:10;
			background:#fff;
			left:30%;
			width: 400px;
			height:400px;
			border: 1px solid #000;
			display: flex;
		}
		.box ul{
			flex: 1;
			color: #000;
			padding:0;
		}
		.box ul li{
			height:40px;
			line-height: 40px;
			padding-left:15px;
			border-bottom: 1px solid #ccc;
		}
		.box ul li:hover{
			color:#444;
		}
		.box ul .check{
			background:#4983FE;
		}
		.box ul:nth-child(1){
			border-right: 1px solid #000;
		}
		.input{
			border:0;
			padding:7px;
			outline: none;
		}
	</style>
</head>
<body>
<div id="app" class="body-content" v-cloak>
	<form method="post" class="form-x" id='fm' >
		<input type="hidden" name="id" :value="entry.id">
		<div class="form-group">
			<div class="label">
				<label>案例编号：</label>
			</div>
			<div class="field">
				<input type="text" v-model="entry.name" class="input w50" value="" name="name" data-validate="required:请输入案例编号" />
				<div class="tips"></div>
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				<label>案例类型：</label>
			</div>
			<div class="field">
				<select name="type" v-model="entry.type" class="input w50" data-validate="required:请选择案例类型" >
					<option value="" disabled="disabled" selected="selected">请选择案例类型</option>
					<option value="0">课堂案例</option>
					<option value="1">实践案例</option>
					<option value="2">企业案例</option>
					<option value="3">拓展案例</option>
				</select>
				<div class="tipss"></div>
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				<label>案例名称：</label>
			</div>
			<div class="field">
				<input type="text" v-model="entry.extend" class="input w50" name="extend" data-validate="required:请输入案例名称" />
				<div class="tips"></div>
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				<label>难度等级：</label>
			</div>
			<div class="field">
				<input type="hidden" name="level" :value="level">
				<span v-if="level>=1"  class="icon-star text-yellow text-large"></span>
				<span v-else class="icon-star-o  text-large"></span>
				<span v-if="level>=2" class="icon-star text-yellow text-large"></span>
				<span v-else class="icon-star-o  text-large"></span>
				<span v-if="level>=3"  class="icon-star text-yellow text-large"></span>
				<span v-else  class="icon-star-o text-large"></span>
				<span v-if="level>=4"  class="icon-star text-yellow text-large"></span>
				<span v-else  class="icon-star-o  text-large"></span>
				<span v-if="level>=5"  class="icon-star text-yellow text-large"></span>
				<span v-else  class="icon-star-o  text-large"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				<label>选择语言：</label>
			</div>
			<div class="field">
				<select v-model="language" name="language" class="input w50" data-validate="required:请选择语言" >
					<option value="0" disabled="disabled" selected="selected">请选择语言</option>
					<option v-for="language in languages" :value="language.id">{{language.name}}</option>
				</select>
				<div class="tips"></div>
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				<label>代码数量：</label>
			</div>
			<div class="field">
				<input v-model="entry.count" type="text" class="input w50" value="" name="count" data-validate="required:请输入代码数量,number:必须是数字" />
				<div class="tips"></div>
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				<label>知识点：</label>
			</div>
			<div class="field" style="position: relative;">
				<input type="hidden" name="point" :value="point" >
				<input type="text" readonly="readonly" class="input w50" :value="pointstr" name="pointstr" data-validate="required:请选择知识点" />
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				<label>功能和要求：</label>
			</div>
			<div class="field">
				<div class="input" v-html="entry.description"></div>
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				<label>源码链接：</label>
			</div>
			<div class="field">
				<a class="input" target="_blank" :href="entry.url">跳转</a>
				<div class="tips"></div>
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				<label>提供者：</label>
			</div>
			<div class="field">
				<select v-model="entry.provider" id="provider" name="provider" class="input w50" data-validate="required:请选择案例提供者" >
					<option value="" disabled="disabled" selected="selected">请选择案例提供者</option>
					<option v-for="entry in provider" :value="entry.id">{{entry.name}}</option>
				</select>
				<div class="tips"></div>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
    var id=$.getUrlParam("id");
    var data=getData({id:id},path2+"cases/edit");
    var vue = new Vue({
        el:"#app",
        data(){
            return {
                provider:getData({isDel:1,type:1,withPage:0},path2+"teacher/list").list,
                level:data.level,
                languages:getData({isDel:1},path2+"language/list"),
                point:data.point.split(",").map(Number),
                pointstr:data.pointNames.split(","),
                language:data.language,
                showpoint:false,
                mid:0,
                entry:data
            };
        },
        computed:{
            modules(){
                return getData({lId:this.language},path2+"module/list");
            },
            points(){
                for(var i=0;i<this.modules.length;i++){
                    if(this.mid==this.modules[i].id)
                        return this.modules[i].points
                }
            }
        }
    });
    $(function () {
		$("input").attr("readonly","readonly");
    });
</script>
</body>
</html>
