<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="http://47.94.95.151:8080/css/pintuer.css">
		<link rel="stylesheet" href="http://47.94.95.151:8080/css/admin.css">
		<script src="http://47.94.95.151:8080/js/jquery.min.js"></script>
		<script src="http://47.94.95.151:8080/js/jquery.form.js"></script>
		<script src="http://47.94.95.151:8080/js/vue.min.js"></script>
		<script src="http://47.94.95.151:8080/js/pintuer.js"></script>
		<script src="http://47.94.95.151:8080/js/neuedu2.js"></script>
		
	</head>
	<body>
		<div class="body-content" id="app">
			<form method="post" class="form-x" id='fm'>
				<input type="hidden" name="id" v-model="student.id"  />
				<input type="hidden" name="gId" v-model="student.gId" />
				<div class="form-group">
					<div class="label">
						<label>序号：</label>
					</div>
					<div class="field">
						<input type="text" v-model="student.no" class="input w50" name="no" data-validate="required:序号不能为空,plusinteger:序号只能是整数" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>学生姓名：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" v-model="student.name" name="name" data-validate="required:学生姓名不能为空,length#<32:字符长度小于32位" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>性别：</label>
					</div>
					<div class="field">
						<select name="gender" class="input w50" v-model="student.gender" data-validate="required:请选择性别">
							<option value="" disabled="disabled" selected="selected">请选择性别</option>
							<option value="1">男</option>
							<option value="0">女</option>
						</select>
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>民族：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" v-model="student.nation" name="nation" data-validate="required:民族不能为空,length#<32:字符长度小于32位" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>对应销售：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50"  v-model="student.sale" name="sale"  />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>毕业院校：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" v-model="student.school" name="school" data-validate="required:毕业院校不能为空,length#<100:字符长度小于100位" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>专业：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" v-model="student.specialty" name="specialty" data-validate="required:专业不能为空,length#<100:字符长度小于100位" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>学历：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" v-model="student.education" name="education" data-validate="required:学历不能为空,length#<32:字符长度小于32位" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>QQ号：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" v-model="student.qq" name="qq" data-validate="required:QQ号不能为空,length#<20:字符长度小于20位,plusinteger:QQ号必须是数字并不能以0开头" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>地址：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" v-model="student.address" name="address" data-validate="required:不能为空,length#<32:字符长度小于32位" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>email：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" v-model="student.email" name="email"  />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>房间号：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50"  v-model="student.roomNo" name="roomNo" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>培训周期：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50"  v-model="student.cycle" name="cycle" data-validate="required:培训周期不能为空,length#<32:字符长度小于32位" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>是否退款：</label>
					</div>
					<div class="field">
						<select name="refund" v-model="student.refund" class="input w50" data-validate="required:是否退款">
							<option value="" disabled="disabled" selected="selected">请选择是否退款</option>
							<option value="1">是</option>
							<option value="0">否</option>
						</select>
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>电话：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" v-model="student.phone" name="phone" data-validate="required:电话不能为空,length#<32:字符长度小于32位" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>家长电话：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" v-model="student.weChar" name="weChar" data-validate="required:家长电话不能为空,length#<32:字符长度小于32位" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>身份证号：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" v-model="student.idCard" name="idCard" data-validate="required:身份证号不能为空,length#<32:字符长度小于32位" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>状态：</label>
					</div>
					<div class="field">
						<select name="status" v-model="student.status" class="input w50" data-validate="required:选择状态">
							<option value="" disabled="disabled" selected="selected">请选择状态</option>
							<option value="0">待学</option>
							<option value="1">在学</option>
							<option value="2">毕业</option>
							<option value="3">就业</option>
							<option value="4">放弃</option>
							<option value="5">休学</option>
						</select>
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label></label>
					</div>
					<div class="field">
						<button class="button bg-main icon-check-square-o" type="button" onclick="submitForm('fm','student/edit',true)"> 提交</button>
					</div>
				</div>
			</form>
		</div>
		<script type="text/javascript">
				var id=$.getUrlParam("id");
				var student=getData({id:id},path2+"student/edit");
				new Vue({
					el:"#app",
					data:{
						student:student
					}
				});
		</script>
	</body>
</html>
