<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="http://47.94.95.151:8080/css/pintuer.css">
		<link rel="stylesheet" href="http://47.94.95.151:8080/css/admin.css">
		<script src="http://47.94.95.151:8080/js/jquery.min.js"></script>
		<script src="http://47.94.95.151:8080/js/jquery.form.js"></script>
		<script src="http://47.94.95.151:8080/js/pintuer.js"></script>
		<script src="http://47.94.95.151:8080/js/neuedu2.js"></script>
		<script src="http://47.94.95.151:8080/layer/layer.js"></script>
		<script src="http://47.94.95.151:8080/js/wy_pagination.js"></script>
		<script src="http://47.94.95.151:8080/js/iconfont.js"></script>
		<script src="http://47.94.95.151:8080/js/vue.min.js"></script>
		<style type="text/css">
			.s100{
				width:100px;
				padding:5px 10px;
			}
			.icon {
				font-size:24px;
		          /* 通过设置 font-size 来改变图标大小 */
		        width: 1em; 
		        height: 1em;
		          /* 图标和文字相邻时，垂直对齐 */
		        vertical-align: -0.15em;
		          /* 通过设置 color 来改变 SVG 的颜色/fill */
		        fill: currentColor;
		          /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
		             normalize.css 中也包含这行 */
		        overflow: hidden;
				color: #585858;
		          
		        }
	        .sid{
	        	display:none;
	        }
	        #tb tr td{
	        	white-space: nowrap;
	        	overflow: hidden;
	        	text-overflow:ellipsis;
	        }
	        #tb{
	        	  table-layout: fixed; 
	        }
	        #tb tbody tr:hover{
	        	background: #000000;
	        	color: #ffffff;
	        	
	        }
		</style>
	</head>
	<body>
		<div id="app" class="panel admin-panel" v-cloak >
			<div class="padding border-bottom">
			 	<ul class="search" style="padding-left:10px;">
			 	 	<li>
			 	 		<strong id='name'></strong>
			 	 	</li>
			 	 	<li>
			 	 		<strong id="type"></strong>
			 	 	</li> 
			 	 	<li>
			 	 		<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-jiangshi"></use>
						</svg>&nbsp;
			 	 		<span id="lecturerName">{{entry.lecturerName}}</span>
			 	 	</li>
			 	 	<li>
			 	 		<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-laoshi"></use>
						</svg>&nbsp;
			 	 		<span id="managerName">{{entry.managerName}}</span>
			 	 	</li> 
			 	 	<li>
			 	 		<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-xuesheng--"></use>
						</svg>&nbsp;
			 	 		{{entry.count}}
			 	 	</li> 
			 	</ul>
			</div>
			<hr class="bg-main" />
			<div class="panel admin-panel">
			 	<div class="padding border-bottom">
			 		<ul class="search" style="padding-left:10px;">
		 				<li>
		 					<input  v-model="student.name" type="text" class="input s100" placeholder="学生姓名"  />
		 				</li>
		 				<li>
		 					<select id="gender" name="gender" class="input s100" v-model="student.gender">
								<option value="">请选择性别</option>
								<option value="1">男</option>
								<option value="0">女</option>
							</select>
		 				</li>
		 				<li>
		 					<select id="month" name="month" class="input s100" v-model="student.status">
								<option value="">请选择状态</option>
								<option value="0">待学</option>
								<option value="1">在学</option>
								<option value="2">毕业</option>
								<option value="3">就业</option>
								<option value="4">放弃</option>
								<option value="5">休学</option>
							</select>
		 				</li>
		 				<li>
		 					<button type="button" class="button input s100"  @click="search"><span class="icon-search"></span>搜索</button>
		 				</li>
		 			</ul>
		 			<form id="listForm" method="post" enctype="multipart/form-data">
			 			<ul class="search" style="padding-left:10px;margin-top: 5px;">
			 				<li>
			 					<button type="button" class="button input s100 " @click="add()"><span class="icon-plus-square-o"></span>创建学生</button>
			 				</li>
			 				<li>
			 					<button type="button" @click="batch" class="button input s100 " style="width:120px"></span>批量添加 xls</button>
			 					<input id="sfile" @change="changeFile" name="sfile" type="file" accept="application/vnd.ms-excel" style="display: none;" />
			 				</li>
			 			</ul>
		 			</form>
			 	</div>
			 	<table id="tb"  class="table table-bordered" >
				 	<thead>
			 			<tr>
			 				<th width="80px">考试ID</th>
			 				<th width="50px">序号</th>
			 				<th width="100px">姓名</th>
			 				<th width="50px">性别</th>
			 				<th width="110px">电话</th>
			 				<th width="50px">民族</th>
			 				<th width="200px">学校</th>
			 				<th width="150px">专业</th>
			 				<th width="80">学历</th>
			 				<th>操作</th>
			 			</tr>
			 		</thead>
			 		<tbody>
			 			<tr v-for="(stu,index) in entry.students">
			 				<td>{{stu.id}}</td>
			 				<td>{{stu.no}}</td>
			 				<td>{{stu.name}}</td>
			 				<td>
			 					<span v-if="stu.gender==1">男</span>
			 					<span v-else>女</span>
			 				</td>
			 				<td>{{stu.phone}}</td>
			 				<td>{{stu.nation}}</td>
			 				<td>{{stu.school}}</td>
			 				<td>{{stu.specialty}}</td>
			 				<td>{{stu.education}}</td>
			 				<td>
			 					<button class="button button-little border-main" @click="edit(stu.id)" >编辑</button>&nbsp;&nbsp;
			 					<button class="button button-little border-main" @click="pwd(stu.id)" >修改密码</button>&nbsp;&nbsp;
			 					<button class="button button-little border-red" @click="del(stu.id)" >删除</button></td>
			 				</td>
			 			</tr>
			 		</tbody>
			 	</table>
			</div>
		</div>
		<script>
			var gId=$.getUrlParam("gId");
			var vue=new Vue({
				el:"#app",
				data:{
					student:{
						gId:gId,
						name:"",
						gender:"",
						status:""
					},
					entry:getData({gId:gId},path2+"student/list")
				},
				methods:{
					search(){
						this.entry=getData(this.student,path2+"student/list")
					},
					add(){
						dialogframe({
							url:"pages/student/add.html?gId="+this.student.gId,
							title:"添加学生"
						});
					},
					del(id){
						if(confirm("学生信息一旦删除不可恢复只能重新添加,确认要删除吗?")){
							var m=getData({id:id},path2+"student/del");
							alert(m.message);
							this.entry=getData({gId:gId},path2+"student/list")
						}
					},
					edit(id){
						dialogframe({
							url:"pages/student/edit.html?id="+id,
							title:"修改学生信息"
						});
					},
					pwd(id){
						dialogframe({
							url:"pages/student/pwd.html?id="+id,
							title:"修改学生密码"
						});
					},
					batch(){
						$("#sfile").click();
					},
					changeFile(){
						submitForm('listForm',"student/upload?gId="+gId,false);
					}
				}
			});
			
		</script>
	</body>
</html>
