<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="http://47.94.95.151:8080/css/pintuer.css">
		<link rel="stylesheet" href="http://47.94.95.151:8080/css/admin.css">
		<script src="http://47.94.95.151:8080/js/jquery.min.js"></script>
		<script src="http://47.94.95.151:8080/js/jquery.form.js"></script>
		<script src="http://47.94.95.151:8080/js/pintuer.js"></script>
		<script src="http://47.94.95.151:8080/js/neuedu2.js"></script>
		<script src="http://47.94.95.151:8080/layer/layer.js"></script>
		<script src="http://47.94.95.151:8080/js/vue.min.js"></script>
	</head>
	<body>
		<div id="app" class="body-content">
			<form method="post" class="form-x" id='fm' enctype="multipart/form-data">
				<div class="form-group">
					<div class="label">
						<label>模块名称：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" value="" name="name" data-validate="required:模块名称不能为空,length#<20:语言名字长度小于20" />
						<div class="tips"></div>
					</div>	
				</div>
				<div class="form-group">
					<div class="label">
						<label>选择语言：</label>
					</div>
					<div class="field">
						<select name="lId" name="type" class="input w50" data-validate="required:请选择语言" v-model="lId">
							<option v-for="language in list" :value="language.id">{{language.name}}</option>
						</select>
						<div class="tips"></div>
					</div>	
				</div>
				<div class="form-group">
					<div class="label">
						<label>排序：</label>
					</div>
					<div class="field">
						<input class="input w50" type="number"  min="1" value="1" name="sort" />
						<div class="tips"></div>
					</div>	
				</div>
				<div class="form-group">
					<div class="label">
						<label></label>
					</div>
					<div class="field">
						<button class="button bg-main icon-check-square-o" type="button" onclick="submitForm('fm','module/add',true)"> 提交</button>
					</div>
				</div>
			</form>
		</div>
		<script>
			new Vue({
				el:"#app",
				data:{
					lId:$.getUrlParam("lId"),
					list:getData({},path2+"language/list")
				}
			})
		</script>
	</body>
</html>
